[Unit]
Description=API Service
After=network.target

[Service]
User=debian
WorkingDirectory=/home/debian/bbb
ExecStart=/bin/bash /home/debian/bbb/scripts/start_api.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
