{% extends "signedout_base.html" %} {% block content %}
<div class="container">
  <div class="page-header">
    <h3>Create an Account at G2H</h3>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="container">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <br />
  <strong>
    Already have a Green2House Owner Account?
    <a href="{{ url_for('auth_bp.signin') }}">Login here.</a>
  </strong>
  <br />
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }} {{ wtf.quick_form(form) }}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
