{% extends "user_signedin_base.html" %} {% block content %}
<style>
  .center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  .btn-custom {
    font-size: 4rem;
    padding: 2rem 4rem;
  }
</style>

<div class="container">
  <div class="page-header">
    <h3>Water Your Plant</h3>
  </div>
  <div class="center-screen">
    <button
      id="toggleButton"
      class="btn btn-primary btn-custom"
      data-pressed="false"
    >
      Press me
    </button>
  </div>
</div>

<script>
  document
    .getElementById("toggleButton")
    .addEventListener("click", function () {
      const button = this;
      const isPressed = button.getAttribute("data-pressed") === "true";
      const newState = !isPressed;

      button.setAttribute("data-pressed", newState);
      button.innerText = newState ? "Pressed" : "Press me";

      fetch("/water-plant", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ is_pressed: newState }),
      })
        .then((response) => response.json())
        .then((data) => console.log("Success:", data))
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>
{% endblock %}
