[Unit]
Description=wifi runner for BBB
After=network.target

[Service]
User=debian
WorkingDirectory=/home/debian/bbb
ExecStart=/usr/bin/sudo /home/debian/bbb/wifi.sh
Restart=always

[Install]
WantedBy=multi-user.target
